h1 {
  text-align: center;
  margin: 0px;
  padding: 120px 20px 0px 20px;
  color: white;
  font-weight: bold;
  font-size: 3.5em; }

body {
  font-family: "Helvetica", sans-serif;
  text-align: center;
  margin-left: 40px;
  margin-right: 50px;
  background-attachment: fixed;
  background-size: contain; }

.nav-pills {
  background-color: black; }

.footer {
  bottom: 0;
  width: 100%;
  display: block; }

a.link {
  color: black; }

div.contact {
  color: black;
  font-weight: bold; }

#hero2 {
  background-color: #5F9FFF; }

.contact {
  background-color: #5F9FFF; }

#primary {
  background-image: url("../roller3.jpg");
  background-size: cover;
  height: 600px; }
  #primary h1 {
    font-size: 65px; }
