

h1 {
text-align: center;
padding: 25px 20px 0px 20px;
color: white;
font-weight: bold;
font-size: 3.5em;
}

// .jumbotron {
//   background-image:url('http://badkidsgoodgrammar.files.wordpress.com/2010/04/bw-roller-skates-2.jpg');
//   background-size: contain;
//   background-repeat:no-repeat;
// }

body {
  font-family: "Helvetica", sans-serif;
  text-align: center;
  margin-left: 40px;
  margin-right: 50px;
  background-attachment: fixed;
  background-size: contain;
}

.footer {
  bottom:0;
  width:100%;
  display:block;
}

a.link {
color: black;
}

div.contact {
  color: black;
  font-weight: bold;
}


#hero2 {
   background-image: url("../rollerbg.jpg");
   .hero-quote2 {
    p {
      font-weight: bold !important;
    }
  }
}



.contact {
  background-color: rgb(124, 108, 98);  
}

#primary {
  background-image: url("../roller3.jpg");
  background-size: cover;
  height: 600px;
  h1 {
    font-size: 65px;
    padding: 120px 20px 0px 20px;
  }
}

.navbar-default {
  background-color: white !important;
}

.navbar {
  border: none !important;
}

p {
  padding-bottom: 0;
}