<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>

<div class="container">
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">Home</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
</div>

<section id="primary">
  <h1>
  Rollerskating on Rails
  </h1>
  </section>
<!-- 
<div class="jumbotron">
  <h1>Rollerskating on Rails</h1>
</div> -->

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/"></a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
                Lindsey Miller<br />
                Rollerskater on Rails<br />
                lindseyandmina@gmail.com<br>
                <br>
                <a class = "link" href="https://github.com/tech-bluenette">github.com/tech-bluenette</a><br />
                <a class = "link" href="https://twitter.com/tech_bluenette">twitter.com/tech_bluenette</a><br />
            </div>
          </div>
        </div>

    </body>
</html>
